.adress{
    margin-bottom: 60px;
}

.adress__link{
    color: #ffffff; 
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 

    transition: var(--transition-duration)
    var(--transition-timing-function);

}

.adress__link:hover,
.adress__link:focus{
    color: var(--accent-color);
}

.footer-adress__link:hover,
.footer-adress__link:focus{
    color: var(--accent-color);
}

.footer-adress__link:nth-last-child(1n+2){
    margin-bottom: 9px;
}

.footer-adress__link{
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
   