.nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.logo{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
}

.nav__logo-link{
    color: #000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.nav__logo-link:hover,
.nav__logo-link:focus{
    color: var(--accent-color);
}


.nav__logo:hover,
.nav__logo:focus{
    color: var(--accent-color);
}

.nav__logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}


.nav__list{
    display: flex;
    margin-left: 93px; 
}


.nav__item + .nav__item{
    margin-left: 50px;
    
}

.nav__item:hover,
.nav__item:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}




.nav__link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    transition: var(--transition-duration)
    var(--transition-timing-function);

}

.nav__link.nav__current::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: currentColor;
    border-radius: 2px;
}

.nav__current{
    color: var(--accent-color);
}




.nav__link:hover,
.nav__link:focus{
    color: var(--accent-color);
    padding-top: 32px;
    padding-bottom: 32px;
}