html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

 body {
      font-size: 14px; 
      font-family: 'Roboto',sans-serif; 
      letter-spacing: 0.03em; 
      color: var(--secondary-text-color); 
      background-color: var(--background-color);
      margin: 0px;
    }

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0px;
    padding: 0px;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

.container{
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}   